<div class="container">
    <div class="innercontainer">
        <div class="col-sm-6">

            <button (click)=" firstButton() " class="top left ">first</button>
            <button (click)="secondButton() " class="top right ">second</button>
            <ng-content></ng-content>

            <button (click)="thirdButton() " class="bottom left ">third</button>
            <button (click)="fourButton() " class="bottom right ">four</button>
        </div>
    </div>
</div>