<!--The content below is only a placeholder and can be replaced
<router-outlet></router-outlet>
-->

<app-button-layout [hidden]="!isFirstVisible" (firstLayout)="firstBtn($event)"><button>1</button></app-button-layout>
<app-button-layout [hidden]="!isSecondVisible" (firstLayout)="firstBtn($event)"><button>2</button></app-button-layout>
<app-button-layout [hidden]="!isThirdVisible" (firstLayout)="firstBtn($event)"><button>3</button></app-button-layout>
<app-button-layout [hidden]="!isFourVisible" (firstLayout)="firstBtn($event)"><button>4</button></app-button-layout>